@import url(../font/css/all.css);

body {
  background-color: #101010;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

/* MAIN GRID */
.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% 80%;
  grid-template-rows: 5% 95%;
  grid-template-areas:
  "b1 b1"
  "b2 b3";
}

.top-container {
  grid-area: b1;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.left-container {
  grid-area: b2;
}

.right-container {
  grid-area: b3;
  display: grid;
  grid-template-rows: 3fr 2fr 0.5fr 1fr 4fr;
  height: 100vh;

}

/* Formatting */ 
/* gray bg inside windows */
.top-container, .left-container {
  background-color: #212121;
}

/* TOP CONTAINER */ 
.box1, .box2, .box3 {
  height: 40px;
}

/* uppermost left box */
.box1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box1 span {
  margin: none;
}
.header-icon i {
  padding: 16px 20px;
  height: 20px;
}

.logo-main img {
  padding-left: 10px;
  height: 20px;
}

/*uppermost-middle box */
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 input {
  background-color: #0a0a0a;
  border: 0.1px #313131 solid;
  border-radius: 3px;
  color: gray;
  width: 500px;
  height: 30px;
}

input:focus {
  outline: none;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  color: gray;
  height: 30px;
  width: 70px;
}

/* uppermost right box */

.box3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* LOWER LEFT CONTAINER */ 
.left-container {
  overflow-y: auto;
}
.box4, .box5 {
  margin: 20px 0;
}

.box4 div, .box5 div, .box6 div{
  padding: 15px;
}

.box4 i, .box5 i, .box6 i {
  margin-right: 15px;
  color: #909090;
}

.box4 span:nth-child(2), .box5 span:nth-child(2)  {
  font-size: 14px;
  color: white;
}

.line-divider {
  background-color: rgba(128, 128, 128, 0.3);
  height: 1px;
  width: 260px;
}

.box6 > div:first-of-type {
  color: #909090;
  font-size: 13px;
}

/* RIGHT CONTAINER - Contents (banner, videos, etc) */
.right-container {
  overflow-y: auto;
}

/* banner */
.box7 {
  height: 320px;
}
.box7 img {
  width: 1250px;
  margin: none;
  padding: none;
  z-index: 0;
}

/* social media div */
.social-media {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 20px;
  padding: 20px;
  background-color:rgba(0, 0, 0, 0.3); 
  z-index: 1;
  transform: translate(410%, -120%);
}

.social-media a {
  color: white;
}

/* artists details */
.box8 {
  width: 1150px;
  background-color: #191919;
  display: grid;
  margin: none;
  padding: none;
  padding-left: 100px;
  grid-template-columns: 1fr 2fr 4fr;
}

.box8 img {
  grid-column: 1/2;
  grid-row: 1/4;
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: 10px;
}

.box8 h2 {
  padding-top: 20px;
}
.box8 p {
  margin-top: -15px;
  font-size: 15px;
  color: gray;
}

 .subscribe-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:655px;
  margin-right: 80px;


}

button {
  width: 150px;
  height: 50px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}

/* nav bar */

.box9 {
  background-color: #191919;
  height: 40px;
  width: 1250px;
}
.box9 nav {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: none 100px;
  margin-left: 100px;;
  color: grey;
  font-size: 13px; 
  width: 1000px;
}

.box9 li {
  display: block;
    width: 10%;
    text-align: center;
    cursor: pointer;
}

.active {
  border-bottom: 2px solid white;
  color: white;
}

.box9 .active:after {
  margin-top: 20%;
  display: block;
  content: '';
  background-color: #aaaaaa;

}

/* video header */ 
.box10 {
  margin-left: 100px;
  margin-top: 30px;
  color: gray;
  font-size: 13px;
}

/* videos */
.box11 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-left: 100px;
  padding-right: 100px;
}

.box11 div {
  width: fit-content;
}

.box11 img {
  width: 185px;
  height: 110px;
}

.box11 p {
  margin-top: 2px;
  font-size: 13px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 190px; 
  height: 2.5em; 
}

.box11 h5 {
  margin-top: -10px;
  font-size: 12px;
  color: gray;
  font-weight: 300;
}